
.Box {
    display: inline-block;
    border-radius: 3px;
    font-size: 20px;
    position: relative;
    vertical-align: top;
    transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
    color: inherit;
}

.Loader {
    display: inline-block;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    background: currentcolor;
    position: relative;
    -webkit-animation: loader 1s ease-in-out infinite;
            animation: loader 1s ease-in-out infinite;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    width: 0.25em;
    height: 0.5em;
    margin: 0 0.5em;
}
.Loader:after, .Loader:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    -webkit-animation: inherit;
    animation: inherit;
}
.Loader:before {
    right: 0.5em;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.Loader:after {
    left: 0.5em;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes loader {
    0%, 100% {
        box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
    }
    50% {
        box-shadow: 0 -0.25em 0 currentcolor, 0 0.25em 0 currentcolor;
    }
}