.Box, :global(.Loader__Box) {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	color: #bcbcbc;
}

.Loader, :global(.Loader__Loader) {
	display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	
	border: 0.03em solid currentcolor;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: 1s loader linear infinite;
	position: relative;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
