@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('/fonts/Lato-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
