/* Manrope Font - Variable */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('/builtin-widgets/Manrope-VariableFont.ttf') format('truetype');
}
