.Container {
    &.selected svg {
        display: block;
        color: white;
    }
    &.selected .nodeType, &:hover .nodeType {
        display: none;
    }
    &:hover svg {
        display: block;
    }
}