.Input {
    @apply flex absolute top-0 left-0 w-full h-full cursor-pointer;
    opacity: 0;
    overflow: hidden;
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    border-color: transparent;
    &::-webkit-color-swatch {
        border: none;
    }
}