.Menu {
    :global(.MuiList-root) {
        padding: 0;
        font-family: inherit !important;
        box-shadow: none !important;
    }
    :global(.MuiPaper-root) {
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    }
    :global(.MuiMenuItem-root) {
        font-family: inherit !important;
    }
}