:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.4199 0.0374 257.28);
  --primary: oklch(0.35 0.08 230);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.7626 0.1532 115.73);
  --secondary-foreground: oklch(0.129 0.042 264.695);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
}