.placeholder {
    display: contents;
}
.ModalInner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    padding: 20px;
    outline: none !important;
    border-radius: 10px;
    max-height: 100vh;
    overflow: auto;
}
