.fixed-height {
    height: 100px;
    /* Adjust based on your largest image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    text-align: center;
    width: 100%;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.bounce {
    animation: bounce 1s;
}
