@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Define font weights as CSS variables */
body {
  font-family: "Geist Variable";
}

/* Define colors as CSS variables */
:root {
  --da-primary-100: 174 41 79;
  --da-primary-300: 174 42 51;
  --da-primary-500: 174 100 27;

  --da-accent-100: 36 100 85;
  --da-accent-300: 36 100 65;
  --da-accent-500: 36 100 50;

  --da-white: 0 0 100;
  --da-black: 0 0 0;
  --da-gray-light: 0 0 85;
  --da-gray-dark: 0 0 40;

  --da-gradient-from: 171 100 21;
  --da-gradient-to: 174 42 51;
}

/*********** Font size and weight ********************/
.da-txt-small  {
  font-size: 11px;
}
.da-txt-regular {
  font-size: 14px;
}
.da-txt-medium {
  font-size: 18px;
}
.da-txt-large {
  font-size: 24px;
}
.da-txt-huge {
  font-size: 32px;
}



.da-txt-bold-small {
  @apply da-txt-small font-bold;
}
.da-txt-thin-small {
  @apply da-txt-small font-thin;
}

.da-txt-bold-regular {
  @apply da-txt-regular font-bold;
}
.da-txt-thin-regular {
  @apply da-txt-regular font-thin;
}

.da-txt-bold-medium {
  @apply da-txt-medium font-bold;
}
.da-txt-thin-medium {
  @apply da-txt-medium font-thin;
}

.da-txt-bold-large {
  @apply da-txt-large font-bold;
}
.da-txt-thin-large {
  @apply da-txt-large font-thin;
}

.da-txt-bold-huge {
  @apply da-txt-huge font-bold;
}
.da-txt-thin-huge {
  @apply da-txt-huge font-thin;
}

/*********** For Button Component ********************/
.da-btn {
  @apply px-2 py-2 select-none cursor-pointer inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50;
}

.da-btn-solid {
  @apply bg-da-primary-500 text-da-white shadow hover:bg-da-primary-500/90;
}

.da-btn-outline {
  @apply border text-da-primary-500 border-da-primary-500 shadow-sm hover:bg-da-primary-500/10;
}

.da-btn-outline-nocolor {
  @apply border text-da-gray-dark border-da-gray-dark shadow-sm hover:bg-da-gray-dark/10;
}

.da-btn-gradient {
  @apply bg-gradient-to-r from-da-gradient-from to-da-gradient-to text-da-white shadow-sm hover:opacity-90;
}

.da-btn-secondary {
  @apply bg-da-gray-dark text-da-white shadow-sm hover:bg-da-gray-dark/80;
}

.da-btn-sm {
  @apply h-6 rounded-md px-2 da-txt-small;
}

.da-btn-md {
  @apply h-8 rounded-md px-3 da-txt-regular;
}

.da-btn-lg {
  @apply h-10 rounded-md px-3 da-txt-medium;
}


/*********** For Block Component ********************/
.da-block-bare {
  @apply px-4 py-2 flex items-center justify-center;
}

.da-block-default {
  @apply text-white bg-da-primary-500;
}

.da-block-outline {
  @apply text-da-primary-500 border border-da-primary-500;
}